<footer>
  <div class="footer-top">
    <div class="container">
      <div class="shopify-section row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <aside id="text-1518170288810" class="widget widget_text">
            <div class="textwidget">
              <div class="footer-contact">
                <p itemscope="" itemtype="http://schema.org/Organization">
                  <a href="/" itemprop="url">
                    <img
                      class="footer-logo mt__5 mb__15 w__100 lazyloaded"
                      src="https://img.cdn.vncdn.io/nvn/ncdn/store2/75104/logo_1636803220_logonoelngang-03- bé-01.png"
                      data-src="https://img.cdn.vncdn.io/nvn/ncdn/store2/75104/logo_1636803220_logonoelngang-03- bé-01.png"
                      style="opacity: 1; max-width: 200px; max-height: 95px"
                    />
                  </a>
                </p>
                <aside id="text-1518170308993" class="widget widget_newsletter_email widget_text">
                  <div class="textwidget">
                    <p>ĐĂNG KÝ THEO DÕI ĐỂ NHẬN ĐƯỢC MÃ GIẢM GIÁ CỦA TỤI TUI NHA</p>

                    <div class="mc4wp-form-fields">
                      <div class="signup-newsletter-form dib">
                        <input
                          type="email"
                          placeholder="Email của bạn"
                          id="contactFormEmail"
                          name="contact[email]"
                          class="input-text newsletter-input form-control input-lg"
                        />
                        <div class="input-group-btn">
                          <button class="btn-newsletter input-text submit-btn" id="contactFormSubmit" type="submit">
                            <span>Đăng ký</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p><img src="/content/images/footer/payment2.png" alt="accept payment"/></p>
                </aside>
                <ul class="social mt__15">
                  <li>
                    <a href="https://www.facebook.com/keduhanh811/" target="_blank">
                      <fa-icon [icon]="'facebook'"></fa-icon>
                      <fa-icon [icon]="['far', 'calendar-alt']" class="fa-icon-date-picker"></fa-icon>
                    </a>
                  </li>
                  <li>
                    <a href="" target="_blank">
                      <fa-icon [icon]="['fab','twitter']"></fa-icon>
                    </a>
                  </li>
                  <li>
                    <a href="" target="_blank"><i class="fa fa-pinterest"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/keduhanh/" target="_blank"><i class="fa-br ins"></i></a>
                  </li>
                  <li>
                    <a href="" target="_blank"><i class="fa fa-tumblr"></i></a>
                  </li>
                  <li>
                    <a href="" target="_blank"><i class="fa fa-snapchat"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <aside id="nav_menu-1518170045061" class="widget widget_nav_menu footer-quick-links__collapsed">
            <h3 class="widget-title fwsb fs__16 mg__0 mb__30"><i class="footer-quick-links__toggle-icon"></i>MENU</h3>
            <ul class="menu">
              <li><a href="/">Clothing</a></li>
              <li><a href="/">Acessories</a></li>
              <li><a href="/">Footwear</a></li>
              <li><a href="/">Furniture</a></li>
              <li><a href="/">Handmade</a></li>
              <li><a href="/">Organic</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <aside id="nav_menu-1520332199393" class="widget widget_nav_menu footer-quick-links__collapsed">
            <h3 class="widget-title fwsb fs__16 mg__0 mb__30"><i class="footer-quick-links__toggle-icon"></i>THÔNG TIN
            </h3>
            <ul class="menu">
              <li><a href="/">About Us</a></li>
              <li><a href="/">Contact Us</a></li>
              <li><a href="/">Terms &amp; Conditions</a></li>
              <li><a href="/">Returns &amp; Exchanges</a></li>
              <li><a href="/">Shipping &amp; Delivery</a></li>
              <li><a href="/">Privacy Policy</a></li>
              <li><a href="/">Shortcode Page</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <aside id="nav_menu-1520332274843" class="widget widget_nav_menu footer-quick-links__collapsed">
            <h3 class="widget-title fwsb fs__16 mg__0 mb__30"><i class="footer-quick-links__toggle-icon"></i>INSTAGRAM
            </h3>
            <ul class="menu">
              <li><a href="/">Store Location</a></li>
              <li><a href="/">My Account</a></li>
              <li><a href="/">Search</a></li>
              <li><a href="/">Size Guide</a></li>
              <li><a href="/">FAQs</a></li>
              <li><a href="/">FAQs 2</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <aside class="widget widget_nav_menu footer-quick-links__collapsed">
            <h3 class="widget-title fwsb fs__16 mg__0 mb__30"><i class="footer-quick-links__toggle-icon"></i>FACEBOOK
              FANPAGE</h3>

            <div class="footer-static-content">
              <div
                class="fb-page fb_iframe_widget"
                data-href="https://www.facebook.com/keduhanh811/"
                data-height="300"
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true"
                data-show-posts="false"
                fb-xfbml-state="rendered"
                fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=269&amp;height=300&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fkeduhanh811%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false"
              >
            <span style="vertical-align: bottom; width: 269px; height: 130px"
            ><iframe
              name="f88669cbc008"
              width="1000px"
              height="300px"
              data-testid="fb:page Facebook Social Plugin"
              title="fb:page Facebook Social Plugin"
              frameborder="0"
              allowtransparency="true"
              allowfullscreen="true"
              scrolling="no"
              allow="encrypted-media"
              src="https://www.facebook.com/v14.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df38a3ca7444838c%26domain%3Dkeduhanh.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fkeduhanh.vn%252Ff34f4213329cf78%26relation%3Dparent.parent&amp;container_width=269&amp;height=300&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fkeduhanh811%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false"
              style="border: none; visibility: visible; width: 269px; height: 130px"
              class=""
            ></iframe
            ></span>
              </div>
            </div>
            <div style="clear: both"></div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bot">
    <div class="container pr tc">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 start-md center-sm center-xs">
          <div class="section" style="display: block;">
            <div class="designBy" data-runtime="Memory:4.21 mb - Time:0.23s" id="footer-message">
              <span><fa-icon [icon]=faCopyright></fa-icon> Clone bới </span>
              <span><a style="font-weight:bold;margin-top:5px;display:inline-block" class="logo"
                       href="https://www.topcv.vn/xem-cv/XA9QAVpWB1NWAlNUU1EOA11QBFZSUlAGVQsFBg1345" target="_blank">Nguyễn Xuân Trường</a>
            <img src="content/images/footer/dev-img.jpg" class="dev-img" alt="Clone bởi Nguyễn Xuân Trường"
                 title="Clone bởi Nguyễn Xuân Trường"></span>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-12 col-xs-12 end-md end-sm center-xs flex end-footer-menu">
          <ul>
            <li><a href="/">Cửa hàng</a></li>
            <li><a href="/">Về chúng tôi</a></li>
            <li><a href="/">Liên lạc</a></li>
            <li><a href="/">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
